/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wdth' var(--main-weight);
  background-attachment: fixed;
  background-size: cover;
  background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
                    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
                    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

}

/*header*/
.header__section {
  margin-block-start: 100px;
  margin-block-end: 100px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  inline-size: var(--section-inline-size);
  min-block-size: 372px;
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__tag {
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: clamp(3.063rem, 0rem + 14.286vw, 4.063rem);
  text-transform: uppercase;
}

.header__description {
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 0rem + 6.667vw, 1.438rem);
  text-transform: uppercase;
}
/**/
/* section and content__section */
.section {
  display: grid;
  grid-template-columns: var(--section-inline-size);
  grid-template-rows: auto;
  gap: 50px;
  justify-content: center;
}

.content__section {
  border: 2px solid #000;
  background-color: #fff;
}
/**/

/* tittle -- image -- paragraph*/
.content__section-tittle {
  padding: 4px 10px;
}
.section-tittle {
  display: block;
  color: #000;
  font-family: var(--main-font), sans-serif;
  font-size: var(--section-font-size);
  font-weight: var(--tittle-weight, 715);
}

@supports (font-variation-settings: normal) {
  .section-tittle {
    font-variation-settings: 'wght' var(--tittle-weight, 715);
  }

  .description-text {
    font-variation-settings: 'wght' var(--main-weight, 410);
  }
}

.content__section-image {
  position: relative;
  /*border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;*/
}
.section-image {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-label {
  opacity: 0.5;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 27px;
  right: 25px;
  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:  -1px 0 #fff,
                0 1px #fff,
                1px 0 #fff,
                0 -1px #fff;
}

@supports (-webkit-text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
  .section-label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.content__section-description {
  padding: 25px;
}

.description-text {
  margin-block-end: 25px;
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-weight, 410);
  font-size: var(--section-font-size, 18px);
  line-height: 21px;
}

.description-text:last-child {
  margin-block-end: 0;
}
/**/

/*button*/

.content__section-button {
  justify-items: end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.like-icon {
  margin-inline-end: 7px;
}

.button__text {
  border: 2px solid #000;
  padding: 10.5px 35px;
  text-align: justify-all;
  display: inline-block;
  line-height: 0.9;
}
/**/

/*footer__button*/
/*button text style*/
.button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.button__text-style {
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.button__text {
  border: 2px solid #000;
}
/**/


.open-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: 50px;
  margin-block-end: 100px;
  inline-size: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
  min-block-size: 51px;
  padding: 15px 18px;
  border: 2px solid #000;
}

.footer__image {
  inline-size: 21px;
  block-size: 21px;
}

.footer__text {
  text-wrap: nowrap;
  line-height: 0.9;
}
/**/
/*dialog*/
.dialog {
  inline-size: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
  border: 2px solid #000;
  block-size: 191px;
  padding: 28px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
}

.dialog__section {
  block-size: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog__image{
  inline-size: 40px;
  block-size: 40px;
}

.dialog__text {
  inline-size: 234px;
  line-height: 1.5;
  text-transform: uppercase;
}

.close-button {
  cursor: pointer;
  block-size: 38px;
  border: 2px solid #000;
}

.close-button span {
  margin: auto;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog {
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
}

.dialog[open]::backdrop {
  backdrop-filter: brightness(0.25);
}
/**/
/*focus */
.button__decoration:focus-visible {
  box-shadow: -2px -2px 0 2px #000;
  transition: box-shadow 0.3s ease;
}

button span:hover {
  position: relative;
}

.button__decoration {
  position: relative;
  z-index: 2;
}

.button__decoration::before {
  content:"";
  position: absolute;
  z-index: 1;
  inset: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  background-color: #000;
  transform-origin: left;
}

.button__decoration:hover::before {
  transform: scaleX(1);
}
/**/

@media (width <= 375px) {
  .open-button {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .dialog {
    padding-inline-start: 38px;
    padding-inline-end: 38px;
  }

  .dialog__text {
    padding-left: 20px;
  }

}

/*heart animation*/
.main-body {
  opacity: 0;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover {
  .core {
    fill: var(--accent-color, #000);
  }

  .main-body {
    fill: var(--accent-color, #000);
    transition-delay: 0.05s;
    opacity: 1;
  }
}

.like-icon:active {
  .core {
    fill: var(--animation-fill-color);
  }

  .main-body {
    fill: var(--animation-fill-color);
    transition-delay: 0.05s;
    opacity: 1;
  }
}

.like-icon.is-liked {
  .core {
    fill: var(--animation-fill-color);
  }

  .main-body {
    fill: var(--animation-fill-color);
    transition-delay: 0.05s;
    opacity: 1;
  }

  .contour {
    fill: var(--animation-fill-color);
    transition: fill 0.3s;
    transition-delay: 0.06s;
  }

  .heart {
    animation: heart-animation 0.3s ease-in 0.1s 1 forwards;
    transform-origin: center;
  }

  .sparks {
    animation: sparks-animation 0.3s ease-in 0.3s 1 forwards;
    transform-origin: center;
  }
}
/**/